/* common */
*{
  font-family: '微軟正黑體', 'calibri', 'Arial';
}
body{
  padding: 0;
}
section{
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 20px;
  p{
    font-size: 2rem;
  }
}

/* form */
.formSection{
  flex-direction: column;
  background-color: #111;
  color: white;
  p{
    text-align: center;
    padding: 10px;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    input, button{
      margin: 5px;
      height: 35px;
    }
    #nameInput{
      max-width: 150px;
    }
    #emailInput{
      max-width: 200px;
    }
  }
  .modal-body{
    text-align: center;
  }
}


.section1{
}