/* common */
*{
  font-family: '微軟正黑體', 'calibri', 'Arial';
}
body{
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}
section{
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title, .description{
    float: left;
    padding: 10px;
  }
  .title{
    font-size: 2.6rem;
  }
  .description{
    font-size: 2rem;
  }
}
section:nth-child(odd){
  .title, .description{
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-align: left;
  }
}
section:nth-child(even){
  background-color: #111;
  .title, .description{
    background-color: rgba(255, 255, 255, .8);
    color: black;
    text-align: right;
  }
}

/* form */
.formSection{
  background-color: #374C5E !important;
  color: white;
  height: 240px !important;
  p{
    text-align: center;
    padding: 10px;
    font-size: 2.6rem;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    input, button{
      margin: 5px;
      height: 35px;
    }
    #nameInput{
      max-width: 150px;
    }
    #emailInput{
      max-width: 200px;
    }
  }
  .modal-body{
    text-align: center;
  }
}


.section1{
  background-image: url('./../images/test.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
.section2{
  background-image: url('./../images/insight.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}
.section3{
  background-image: url('./../images/rwd.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}